<% if current_user&.admin? %>
  <%= link_to 'New post', new_post_path, class:'btn btn-outline-secondary' %>
  <%= link_to 'Draft posts', draft_path, class: 'btn-outline-secondary' %>
<% end %>

<div>
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<div>
  <%= paginate @posts %>
</div>

