<div class='row'>
  <div class='col-4'>
    <%= render 'user_card' %>
  </div>
  <div class='col-8'>
    <% if current_user.comments.any? %>
      <% current_user.comments.each do |comment| %>
        <div class="card">
          <h5 class="card-header"><%= link_to comment.find_post.title, post_path(comment.find_post), class: 'text-info' %></h5>
          <div class="card-body">
            <p class="card-text"><%= comment.body %></p>
            <p class="card-text"><small class="text-muted"><%= comment.created_at.strftime("%F") %></small></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

