<li class='class-item'><%= link_to current_user.email, auth_user_path(current_user), class: 'nav-link' %></li>
<li class='class-item'><%= link_to 'Sign out', logout_path, 
                           method: :delete,
                           class: 'nav-link' %></li>
